@import "./base/reset.scss";
@import "./base/base.scss";

.main {
  display: flex;
  gap: 30px;
  max-width: 1470px;
  padding: 15px;
  margin: 0 auto;
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #181b23;
  border-radius: 12px;
  gap: 20px;

  &--table {
    flex-grow: 1;
    max-width: 1050px;
  }

  &__title {
    font-size: 24px;
  }

  &__table {
    border-collapse: collapse;
    inline-size: 100%;
    max-width: 1050px;
    table-layout: fixed;
  }

  &__th {
    background-color: #121319;
    padding: 5px;
  }

  &__tr,
  &__td {
    font-size: 18px;
    border: 1px solid #dedede;
    padding: 8px;
    text-align: center;
    word-break: break-word;
  }

  &__tr {
    cursor: pointer;
    transition: background-color 0.3s ease;
    &.is-edit {
      .students__edit {
        display: block;
      }
      .students__view {
        display: none;
      }
    }

    &:hover {
      background-color: lighten(#181b23, 5%);
    }
  }
  &__edit {
    max-width: 125px;
    font-size: 16px;
    display: none;
    padding: 8px;
    border-radius: 8px;
    color: #fefefe;
    background-color: #1a1c22;
    border: 1px solid rgba(255, 255, 255, 0.12);

    &--delete,
    &--save {
      border: 1px solid #ff5c7c;
      color: #ff5c7c;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #392227;
      }
    }

    &--save {
      border: 1px solid #2ad47a;
      color: #2ad47a;

      &:hover {
        background-color: #30453a;
      }
    }

    &:not(&--delete, &--save):focus {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__btn {
    font-size: 18px;
    padding: 12px 16px;
    border-radius: 8px;
    cursor: pointer;
    color: #fefefe;
    background-color: #6b719b;
    max-width: 250px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #787eae;
    }

    &--submit {
      margin-top: 30px;
    }
  }

  &--form {
    gap: 30px;
  }

  &__form {
    inline-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    inline-size: 100%;
    color: #c8c8c8;
    position: relative;

    &--isEnrolled {
      background-color: transparent;
      border: none;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #2b2e39;
    background-color: #121319;
    color: #fefefe;
    font-size: 18px;
    background-color: inherit;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #3f4455;
    }
  }
}
